name: Matrix Demo

on: push

jobs:
  build:
    continue-on-error: false
    strategy:
      matrix:
        node_version: [12, 14, 16]
        operating_system: [ubuntu-latest, windows-latest, macos-latest]
      include:
        -node_version: 18
        operating_system: ubuntu-latest
      exclude:
        -node_version: 12
        operating_system: windows-latest
    runs-on: ${{ matrix.operating_system }}
    steps:
      - name: Get Code
        uses: actions/checkout@v3

      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}

      - name: Install Dependencies
        run: npm ci

      - name: Build project
        run: npm run build
